@media only screen and (max-width: 800px) {
  .profileBox {
    div {
      width: 5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .searchBox {
    display: none;
  }

  .navList__item:not(:first-child) {
    display: none;
  }
}
