.btn {
  padding: 1rem;
  background: linear-gradient(to bottom, rgb(253, 230, 138), rgb(251, 191, 36));
  outline: none;
  border: none;
  width: 90%;
  max-width: 28rem;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
}
