@import "./Product.module.scss";

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__infoBox {
    display: flex;
    width: 85%;
  }

  &__imageBox {
    width: 20rem;
    height: 25rem;
    position: relative;
  }

  &__descriptionBox {
    padding: 2rem;
  }

  &__title {
    @extend .card__title;
  }

  &__description {
    @extend .card__description;
  }

  &__price {
    @extend .card__price;
  }
}

.ratingBox {
  @extend .ratingBox;
}
