@import "./Product.module.scss";

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  &__infoBox {
    display: flex;
    width: 85%;
    align-items: center;
  }

  &__imageBox {
    position: relative;
    min-width: 20rem;
    min-height: 20rem;
    max-height: 22rem;
  }

  &__descriptionBox {
    padding: 2rem;
  }

  &__title {
    @extend .card__title;
  }

  &__description {
    @extend .card__description;
  }

  &__price {
    @extend .card__price;
  }
}

.ratingBox {
  @extend .ratingBox;
}

@import "../Helper/mediaQueries.module.scss";
