.main {
  min-height: 100vh;
  background-color: #fff;
  display: flow-root;
}

.h6 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem auto;
  width: fit-content;
}

.link {
  display: block;
  width: fit-content;
  margin: 3rem auto;
  font-size: 1.4rem;
  color: black;
}
